.app {
  text-align: center;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 2rem;
  color: white;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
h1 {
  color: #ffe81f;
}

