.henny-penny-regular{
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}
.iansui-regular {
    font-family: "Iansui", cursive;
    font-weight: 400;
    font-style: normal;
}
.red{
    color: red;
}