body {
    background-image: url(assets/raccoon-wearing-stylish-sunglasses-sits-poker-table-focused-its-cards-colorful-stacks-chips-surround-creating-fun-357204568.webp);
    background-size: cover;
    background-repeat: no-repeat;

}