/*body{*/
/*    background-color: rgba(105, 120, 164, 0.82);*/
/*}*/
/*div{*/
/*    color: black;*/
/*}*/
/*#burger{*/
/*    color: aqua;*/
/*}*/
/*#fry{*/
/*    color: green;*/
/*}*/
/*.strawberry{*/
/*    background-color: darkred;*/
/*}*/
/*.blueberry {*/
/*    background-color: blue;*/
/*}*/

/*p{*/
/*    background-color: blue;*/
/*    !*padding: 10px;*!*/
/*    margin: 20px;*/
/*    !*border-style: solid;*!*/
/*    !*border-color: green;*!*/
/*    !*border-width: 10px;*!*/
/*    border: groove 10px red;*/
/*}*/
/*li a{*/
/*    color: green;*/
/*}*/
*{
    /*margin: 0;*/
    /*padding: 0;*/
    border: none;
}
body{
    color: green;
}
ul{
    color: purple;
}
li{
    color: orange;
}

.company{
    color: red;
}